<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ajout Location</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
 
<body>
    <div class="container my-5">
        <h3> Ajout Location</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/location/save}" th:object="${locationForm}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="voiture" class="col-form-label">Voiture: </label> 
                                <select th:field="*{voiture.id}">                          
									<option  th:each="voiture : ${listVoiture}" 
										th:value="${voiture.id}" th:text="${voiture.serie}" id="voiture"/>
								</select>	
                            </div>
                             <div class="form-group col-md-8">
                             <label for="client" class="col-form-label">Client: </label> 
                             <select th:field="*{client.id}">
									<option  th:each="client : ${listClient}" 
										th:value="${client.id}" th:text="${client.nom}" id="client" />
								</select>
                             </div>
                            <div class="form-group col-md-8">
                                <label for="dateDebut" class="col-form-label">Date de Debut</label> 
                                <input type="date" th:field="${locationForm.dateDebut}" class="form-control"
                                            id="dateDebut" placeholder="date debut" />
                                             <label for="dateFin" class="col-form-label">Date de Fin</label> 
                                <input type="date" th:field="${locationForm.dateRetour}" class="form-control"
                                            id="dateFin" placeholder="date fin" />
                            </div>
                
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Submit"/>
                            </div>
 
                            <input type="hidden" id="id" th:field="*{id}">
     
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
 
</html>